button {
  width: 130px;
}

.feedback {
  background-color: #9ac2fe;
  border-radius: 5%;
  margin-left: 33%;
  margin-right: 33%;
  position: relative;
  text-align: center;
  width: 34%;
}

.ranking-btns {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
