.header-container {
  background-image: linear-gradient(to right, #0352c9, #0242a1);
  border-radius: 4px;
  color: rgb(221, 213, 213);
  margin-bottom: 40px;
  padding: 10px;
}

.avatar {
  width: 100px;
}
